<main>
  <div class="row g-0">
    <section class="hero">
      <div class="hero-content">
        <img alt="" class="img-fluid full-width-image" src="edplus_img/rba/rba_main.jpg">

        <div class="hero-content2">
          <h1>Roubo Nas Alturas</h1>
          <div class="details">
            <span class="rating">12</span>
            <span>1 h 55 min</span>
            <span>2015</span>
            <span>4K UHD</span>
            <span>Dolby Vision</span>
            <span>Dolby Atmos</span>
            <span>AD</span>
          </div>
          <button class="play-button">
            <a href="https://www.imdb.com/video/vi1943583513/?playlistId=tt3766354&ref_=ext_shr_lnk" target="_blank">
              <i class="fas fa-play"></i> Assistir agora
            </a>
          </button>
        </div>

      </div>
    </section>
  </div>

  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="description">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="text-justify lead">
          Após um terremoto destruir a Califórnia, um piloto do Departamento de Resgate, terá de enfrentar perigos
          para salvar sua ex-mulher e sua jovem filha.
        </p>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->
    <div class="row">
      <div class="col-12 info">
        <h3 class="font-weight-bold">Informações de classificação</h3>
        <span class="text-justify lead">
          Suspense de Tirar o Fôlego Ação
      </span>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->
    <div class="row">
      <div class="col-12  info">
        <h3 class="font-weight-bold">Elenco</h3>
        <span class="text-justify lead">
          Jonh Doe, Mary Jane, Phill Harris, Gabouney Jackson
      </span>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->
    <div class="row">
      <div class="col-12  info">
        <h3 class="font-weight-bold">Diretor</h3>
        <span class="text-justify lead">
          Brett Ratner
      </span>
      </div>
    </div>
  </div>

  <div class="doYouLike">
    <span class="info lead text-white">Você também pode gostar</span>
    <app-slide-card></app-slide-card>
  </div>
</main>




