<nav class="navbar navbar-expand-lg navbar-edplus"  [ngClass]="{'scrolled' : isScrolled}">
  <a class="navbar-brand" href="#">EdPlus</a>

  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
    <i class="fa-solid fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item lead">
        <a aria-current="page" class="nav-link active" href="#">Início</a>
      </li>
      <li class="nav-item lead">
        <a class="nav-link" href="#">Séries</a>
      </li>
      <li class="nav-item lead">
        <a class="nav-link" href="#">Filmes</a>
      </li>
      <li class="nav-item lead">
        <a class="nav-link" href="#">Lançamentos</a>
      </li>
    </ul>
    <div class="search-container">
      <i class="fas fa-search search-button"></i>
      <input aria-label="Search" class="form-control" placeholder="Procure por ator, título..." type="search">
    </div>
  </div>
</nav>

