.navbar-edplus {
  background-color: transparent;
  padding: 0.1rem;
  position: fixed;
  width: 100%;
  z-index: 1060;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.6); /* Cor ap처s rolagem */
  box-shadow: 10px 50px 80px 80px rgb(0, 0, 0, 0.6);
}


/* Muda o background ap처s a rolagem */
.navbar-edplus.scrolled {
  background-color: rgba(0, 0, 0, 0.9); /* Cor ap처s rolagem */
  box-shadow: 0 20px 50px 50px rgb(0, 0, 0, 0.9);
}

.container {
  /*max-width: 1024px;*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div .logo {
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: #fff;
}

div .logo:hover {
  color: #60A5FA;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 1rem;
}

ul li a {
  text-decoration: none;
  color:white;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

ul li a:hover {
  color: #60A5FA; /* Azul claro */
  cursor: pointer;
  font-width: 900;
}

.search-edplus{
  font-size: 1rem;
}

/* modal de pesquisa */
.modal-header{
  justify-content: space-between;
  background-color: #274161;
}

.modal-body{
  background-color: #274161;
}

.modal-title{
  color: #dfdfdf !important;
}

/* bot찾o de fechar o modal */
.fa-rectangle-xmark{
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  color: #dfdfdf;
}
