/*============================================ header override bootstrap =================================================================*/
nav.navbar-expand-lg {
  background: transparent;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 16px 18px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 40px 30px rgb(0, 0, 0, 0.4);
}

/* Muda o background após a rolagem */
.navbar-edplus.scrolled {
  background-color: rgba(0, 0, 0, 0.85); /* Cor após rolagem */
  box-shadow: 0 10px 40px 30px rgb(0, 0, 0, 0.85);
}

/*logo*/
a.navbar-brand {
  color: #fff !important;
  font-family: "Modak", serif;
  font-weight: 400;
  font-size: 2.8rem;
  margin: 0 75px 0 0;
}

.navbar-brand:hover {
  color: #ffffff !important;
}

a.nav-link {
  color: #e6e6e6 !important;
  font-weight: 600;
}

a.nav-link:hover {
  color: #cecece !important;
}

.nav-link.active {
  position: relative; /* Necessário para posicionar o sublinhado */
  font-weight: bold; /* Opcional: para destacar mais o link */
}

.nav-link.active::after {
  content: ""; /* Adiciona o sublinhado */
  position: absolute;
  left: 0;
  bottom: 8px; /* Ajusta a posição abaixo do texto */
  width: 100%; /* Faz o sublinhado ter o mesmo tamanho do texto */
  height: 3px; /* Espessura da linha */
  background-color: #e6e6e6; /* Cor do sublinhado */
  border-radius: 2px; /* Deixa a linha com bordas arredondadas (opcional) */
}

button.navbar-toggler {
  border: none !important;
  color: white !important;
}


/* input search */
.search-container {
  position: relative;
  min-width: 35%; /* Ajuste conforme necessário */
  max-width: 100%;
}

.form-control {
  width: 100%;
  padding-left: 80px; /* Espaço para o ícone à esquerda */
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}
.form-control::placeholder {
  color: white;
  opacity: 1;
  font-size: 1.2rem;
  font-weight: 700;
}

.search-button {
  position: absolute;
  left: 25px; /* Posiciona o ícone à esquerda */
  top: 50%;
  transform: translateY(-50%);
  color: #888; /* Cor do ícone */
  cursor: pointer;
  font-size: 24px;
  color:white;
}
