<div class="swiper card-swiper">
  <h2 class="highlights">{{ dinamicTitle }}</h2>
  <div class="swiper-wrapper">
    <div class="swiper-slide card-slide" *ngFor="let movie of moviesCard">
      <a href="detail.html">
        <img [src]="movie.image" alt="{{ movie.title }}">
      </a>
      <!--      <p>{{ movie.title }}</p>-->
    </div>
  </div>

  <!--  &lt;!&ndash; Botões de navegação &ndash;&gt;-->
  <!--  <div class="swiper-button-next"></div>-->
  <!--  <div class="swiper-button-prev"></div>-->

  <!-- Paginação -->
  <div class="swiper-pagination slide-card-pagination"></div>
</div>
