/* Define o tamanho e a aparência das imagens */
.banner-slide img {
  width: 150%;
  min-height: 85vh;
  max-height: 85vh;
  box-sizing: border-box;
  display: block;
  object-fit: cover;
}

.banner-slide img:hover {
  cursor: pointer !important;
}

/* gradienteno bottom */
.banner-slide::after {
  content: ""; /* Pseudo-elemento vazio */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; /* Cobre toda a imagem */

  /*A cor inicia cobre os primeiros ?% da altura do elemento.*/
  /*A transição entre as cores termina quando ?% da altura é atingida*/
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 1) 80%);

  pointer-events: none; /* Evita interferir com cliques */
  z-index: 1; /* Coloca acima da imagem */
}


/* posição dos bullets */
.banner-pagination {
  position: relative;
  bottom: 100px !important;
}

/* Cor dos bullets inativos */
.swiper-pagination-bullet {
  background-color: #ccc; /* Cor de fundo do bullet */
  opacity: 0.2; /* Transparência do bullet */
  transition: opacity 0.4s;
  scale: 1.2;
}

/* Bullet ativo (atual) */
.swiper-pagination-bullet-active {
  background-color: #2196f3; /* Cor do bullet ativo */
  opacity: 1; /* Transparência total */
}

.hero-content2 h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: relative;

  z-index: 2;
  bottom: 110px;
  padding: 0 18px;
  margin: 0 auto; /* Centraliza horizontalmente */
  display: block; /* Garante que seja tratado como um bloco */
  width: fit-content; /* Ajusta o tamanho do elemento ao conteúdo */
}

.hero-content2 a{
  cursor: pointer;
  text-decoration: none;
}
