.search-container {
  width: 98%;
  margin: auto;
  display: flex;
  position: relative;
  top: 140px;
  /*border: 1px solid white;*/
}

.search-result {
  /*border: #2196f3 1px solid;*/
  display: flex;
  justify-content: center;
}

.search-result h2 {
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;

  align-items: center;
}

.search-card {
  margin-bottom: 10px;
}

.search-card img {
  /*border: 2px solid springgreen;*/
  border: 2px solid transparent;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  transition: border 0.3s ease, transform 0.3s ease;
}

.search-card img:hover {
  cursor: pointer;
  border: 2px solid white;
  transform: scale(1.02)
}

