<div class="search-container">
  <div class="row g-5">
    <div class="col-12 search-result">
      <h2>Resultados da Pesquisa</h2>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-2 search-card">
      <img src="edplus_img/bb2/bb2_card.png">
    </div>
    <div class="col-sm-3 col-md-3  col-lg-2 search-card">
      <img src="edplus_img/nbt/nbt_card.png">
    </div>

    <div class="col-sm-3 col-md-3  col-lg-2  search-card">
      <img src="edplus_img/chl/chl_card.png">
    </div>

    <div class="col-sm-3 col-md-3 col-lg-2  search-card">
      <img src="edplus_img/chp/chp_card.png">
    </div>

    <div class="col-sm-3 col-md-3 col-lg-2  search-card">
      <img src="edplus_img/cra/cra_card.png">
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2  search-card">
      <img src="edplus_img/chv/chv_card.png">
    </div>

    <div class="col-sm-3 col-md-3 col-lg-2  search-card">
      <img src="edplus_img/opt/opt_card.png">
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2  search-card">
      <img src="edplus_img/opt/op2_card.png">
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2  search-card">
      <img src="edplus_img/opt/op3_card.png">
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2  search-card">
      <img src="edplus_img/sml/sml_card.png">
    </div>


  </div>
</div>
