.footer {
  margin-top: 250px;
  margin-bottom: 100px;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-icons a {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.footer-icons a img:hover {
  transform: scale(2); /* Efeito de zoom ao passar o mouse */
}

.footer-text p {
  margin: 10px 0;
  font-size: 14px;
}

.footer-text nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
}

.footer-text nav a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-text nav a:hover {
  color: #fff; /* Cor ao passar o mouse */
}


/* Estilo base do botão */
.scroll-to-top {
  position: fixed;
  bottom: 194px;
  right: 40px;
  background-color: rgba(21, 104, 255, 0.55);
  border: 2px solid white;
  color: white;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  z-index: 99;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

/* Ícone dentro do botão */
.scroll-to-top i {
  font-size: 18px;
}
