<footer class="footer">

  <!-- Botão de voltar ao topo -->
  <button id="scrollToTopBtn" class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
    <i class="fa-solid fa-arrow-up-from-bracket"></i>
  </button>


  <div class="footer-icons">

    <a href="#">
      <i class="fa-brands fa-x-twitter"></i>
    </a>

    <a href="#">
      <i class="fa-brands fa-youtube"></i>
    </a>

    <a href="#">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="#">
      <i class="fa-brands fa-facebook"></i>
    </a>

    <a href="#">
      <i class="fa-brands fa-tiktok"></i>
    </a>

  </div>
  <div class="footer-text">
    <p>© 2025 EdPlus Okavango, LLC. Todos os direitos reservados.</p>
    <nav>
      <a href="#">Política de Privacidade</a>
      <a href="#">Termos de Uso</a>
      <a href="#">Gerir cookies</a>
      <a href="#">Informações</a>
      <a href="#">Ajuda</a>
    </nav>
  </div>
</footer>
