/* You can add global styles to this file, and also import other style files */
/* Reset global básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações globais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background: linear-gradient(to bottom, #000000, #030142);
  /*background: linear-gradient(to bottom, #000000, #000000);*/
  color: #000; /* Cor do texto padrão */
  min-height: 105vh;
}


